
target/
!.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
**/.mvn


.idea/
*.iws
*.iml
*.ipr


.project
.classpath
.settings/


*.log
logs/
*.out


.DS_Store
Thumbs.db


*.jar
*.war
*.ear


*.pid


.env

/postman/*.json



/out/
